#container_user {
    width: 1000px;
    margin-left: 50px;
  }
  
  #content_right {
    border-left: 1px solid #e1e1e1;
    width: 850px;
    height: 500px;
    float: right;
    padding-top: 20px;
  }
  
  #content_left {
    width: 100px;
    height: 500px;
    float: left;
    padding-top: 20px;
  }